body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#user-photo {
    border-radius: 50%;
    width: 100px;
    margin-top: 10px;
}
